body {
    margin: 0;
}

#header {
	color: black;
    padding: 5px;
    text-align: center;
    clear: both;
}
#navigation {
    margin: 1em auto;
    width: 47%;
    font-size: 1.25em;
}
#content {
    width:80%;
    float:left;
}
#footer {
	clear: both;
	padding-top: 5em;
	width: 100%;
}
#sidebar {
    float: left;
    width: 20%;
    font-size: 1.1em; 
}

.container {
    padding: 1em;
}

